USE [master]
GO
/****** Object:  Database [SistemasCorporativos]    Script Date: 24/09/2025 09:37:42 ******/
CREATE DATABASE [SistemasCorporativos]
GO
USE [SistemasCorporativos]
GO
/****** Object:  Table [dbo].[Movimentacoes]    Script Date: 24/09/2025 09:37:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movimentacoes](
	[MovimentacaoID] [int] IDENTITY(1,1) NOT NULL,
	[TipoOperacao] [char](1) NOT NULL,
	[CorrentistaID] [int] NOT NULL,
	[ValorOperacao] [money] NOT NULL,
	[DataOperacao] [datetime] NOT NULL,
	[Descricao] [varchar](50) NOT NULL,
	[CorrentistaBeneficiarioID] [int] NULL,
 CONSTRAINT [PK_Movimentacoes] PRIMARY KEY CLUSTERED 
(
	[MovimentacaoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Correntistas]    Script Date: 24/09/2025 09:37:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Correntistas](
	[CorrentistaID] [int] IDENTITY(1,1) NOT NULL,
	[NomeCorrentista] [varchar](50) NOT NULL,
	[Saldo] [money] NOT NULL,
 CONSTRAINT [PK_Correntistas] PRIMARY KEY CLUSTERED 
(
	[CorrentistaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwExtrato]    Script Date: 24/09/2025 09:37:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwExtrato]
AS
	SELECT
		Correntistas.CorrentistaID,
		Correntistas.NomeCorrentista,
		CASE Movimentacoes.TipoOperacao
			WHEN 'C' THEN 'Crédito'
			ELSE 'Débito'
		END AS TipoOperacao,
		Movimentacoes.MovimentacaoID,
		Movimentacoes.Descricao,
		Movimentacoes.DataOperacao,
		Movimentacoes.ValorOperacao,
		Beneficiarios.CorrentistaID AS BeneficiarioID,
		Beneficiarios.NomeCorrentista AS NomeBeneficiario
	FROM Correntistas INNER JOIN Movimentacoes
	  ON Correntistas.CorrentistaID = Movimentacoes.CorrentistaID
	LEFT JOIN Correntistas AS Beneficiarios
	  ON Movimentacoes.CorrentistaBeneficiarioID = Beneficiarios.CorrentistaID
GO
/****** Object:  Index [IX_Movimentacoes_CorrentistaBeneficiarioID]    Script Date: 24/09/2025 09:37:43 ******/
CREATE NONCLUSTERED INDEX [IX_Movimentacoes_CorrentistaBeneficiarioID] ON [dbo].[Movimentacoes]
(
	[CorrentistaBeneficiarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Movimentacoes_CorrentistaID]    Script Date: 24/09/2025 09:37:43 ******/
CREATE NONCLUSTERED INDEX [IX_Movimentacoes_CorrentistaID] ON [dbo].[Movimentacoes]
(
	[CorrentistaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Movimentacoes_DataOperacao]    Script Date: 24/09/2025 09:37:43 ******/
CREATE NONCLUSTERED INDEX [IX_Movimentacoes_DataOperacao] ON [dbo].[Movimentacoes]
(
	[DataOperacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Movimentacoes]  WITH CHECK ADD  CONSTRAINT [FK_Movimentacoes_Correntistas] FOREIGN KEY([CorrentistaID])
REFERENCES [dbo].[Correntistas] ([CorrentistaID])
GO
ALTER TABLE [dbo].[Movimentacoes] CHECK CONSTRAINT [FK_Movimentacoes_Correntistas]
GO
ALTER TABLE [dbo].[Movimentacoes]  WITH CHECK ADD  CONSTRAINT [FK_Movimentacoes_Correntistas1] FOREIGN KEY([CorrentistaBeneficiarioID])
REFERENCES [dbo].[Correntistas] ([CorrentistaID])
GO
ALTER TABLE [dbo].[Movimentacoes] CHECK CONSTRAINT [FK_Movimentacoes_Correntistas1]
GO
ALTER TABLE [dbo].[Correntistas]  WITH CHECK ADD  CONSTRAINT [CK_Correntistas_Saldo] CHECK  (([Saldo]>=(0)))
GO
ALTER TABLE [dbo].[Correntistas] CHECK CONSTRAINT [CK_Correntistas_Saldo]
GO
ALTER TABLE [dbo].[Movimentacoes]  WITH CHECK ADD  CONSTRAINT [CK_Movimentacoes_DataOperacao] CHECK  (([DataOperacao]>=dateadd(second,(-5),getdate())))
GO
ALTER TABLE [dbo].[Movimentacoes] CHECK CONSTRAINT [CK_Movimentacoes_DataOperacao]
GO
ALTER TABLE [dbo].[Movimentacoes]  WITH CHECK ADD  CONSTRAINT [CK_Movimentacoes_TipoOperacao] CHECK  (([TipoOperacao]='D' OR [TipoOperacao]='C'))
GO
ALTER TABLE [dbo].[Movimentacoes] CHECK CONSTRAINT [CK_Movimentacoes_TipoOperacao]
GO
ALTER TABLE [dbo].[Movimentacoes]  WITH CHECK ADD  CONSTRAINT [CK_Movimentacoes_ValorOperacao] CHECK  (([ValorOperacao]>(0)))
GO
ALTER TABLE [dbo].[Movimentacoes] CHECK CONSTRAINT [CK_Movimentacoes_ValorOperacao]
GO
/****** Object:  StoredProcedure [dbo].[spDepositar]    Script Date: 24/09/2025 09:37:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spDepositar]
	@CorrentistaID int,
	@ValorDeposito money
AS
BEGIN
	SET NOCOUNT ON;

	INSERT INTO Movimentacoes(TipoOperacao, CorrentistaID, ValorOperacao, DataOperacao, Descricao)
	VALUES ('C', @CorrentistaID, @ValorDeposito, GETDATE(), 'Depósito em conta');
END
GO
/****** Object:  StoredProcedure [dbo].[spPagar]    Script Date: 24/09/2025 09:37:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spPagar]
	@CorrentistaID int,
	@ValorOperacao money,
	@Descricao varchar(50)
AS
BEGIN
	SET NOCOUNT ON;

	INSERT INTO Movimentacoes(TipoOperacao, CorrentistaID, ValorOperacao, DataOperacao, Descricao)
	VALUES ('D', @CorrentistaID, @ValorOperacao, GETDATE(), 'Pagamento: ' + @Descricao);
END
GO
/****** Object:  StoredProcedure [dbo].[spSacar]    Script Date: 24/09/2025 09:37:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spSacar]
	@CorrentistaID int,
	@ValorSaque money
AS
BEGIN
	SET NOCOUNT ON;

	INSERT INTO Movimentacoes(TipoOperacao, CorrentistaID, ValorOperacao, DataOperacao, Descricao)
	VALUES ('D', @CorrentistaID, @ValorSaque, GETDATE(), 'Saque');
END
GO
/****** Object:  StoredProcedure [dbo].[spTransferir]    Script Date: 24/09/2025 09:37:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spTransferir]
	@CorrentistaID int,
	@ValorOperacao money,
	@CorrentistaBeneficiarioID int
AS
BEGIN
	SET NOCOUNT ON;

	INSERT INTO Movimentacoes(TipoOperacao, CorrentistaID, ValorOperacao, DataOperacao, Descricao, CorrentistaBeneficiarioID)
	VALUES ('D', @CorrentistaID, @ValorOperacao, GETDATE(), 'Transferência', @CorrentistaBeneficiarioID);
END
GO
USE [master]
GO
